body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


#toggleBtn {
    display: none;

}

#searchbar{
	position: relative;
	background-color:  #5F986B;
	margin-left: 15%;
	width: 50%;
}



#searchButton{
	font-size: 1.5em;
	margin: auto;
	
	padding: 0;
	cursor: pointer;
	
}

#searchInput{
	
	
	width: 92%;

	height: 60px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-style: none;
	
}	



#suggerimenti{
	
	
	position: absolute;
	width: 92%;
    background-color: white;
    
    font-size: 2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: 5px;
	
	
	
}


#sidebar ul {	
		
		font-size: 30px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		
		padding: 19px;
	    list-style-type: none;
	    
	}
	
li {
    margin-right: 30px;
}


#iconDash{
	
	display: flex;
	flex-direction: row;
	margin-right: 6%;
	margin-left: 1%;
	
}

#icon:first-child{
	margin-right: 30px;
}




#centralcontainer{
	background-color: #5F986B;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

#logoCont{
    margin-left: 9%;
   	margin-top: 25px;
	
}

#bottomNav{
	background-color: #A0FFC1;
	height: 83px;
	 border-bottom-left-radius: 83px;
    border-bottom-right-radius: 83px;
    margin: 0px 18px;
}

@media screen and (max-width: 990px){
	
	#logo{
		width: 170px;
		height: 130px;
	}
	
	#sidebar {
	    position: fixed;
	    overflow: hidden;
	    top: 0;
	    left: -200px; /* Nascondi il menu laterale */
	    width: 200px;
	    height: 100%;
	    background-color: white;
	    color: black;
	    transition: all 0.3s ease-in-out;
	}
	
	
	
	#sidebar ul {	
		font-size: 30px;
		display: flex;
		flex-direction: column;
		padding: 0;
	    list-style-type: none;
	    padding: 0;
	}
	
	
	
	#sidebar a {
	    color: black;
	    text-decoration: none;
	}
	
	#sidebar a:hover{
		color: green;
	}
	
	#toggleBtn {
		margin-left: 10px;
	   	display: block;
	   	width: 10%;
	    border: none;
	    cursor: pointer;
	    
	}
	
	#searchbar{
	    background-color: transparent;
		position: absolute;
		top: 140px;
		left: 25%;
		margin:auto;
	}
	#searchButton{
		display: none;
	}
	
	#iconDash{
		position: relative;
		top: 5px;
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	
	#icon:first-child{
		margin-bottom: 16px;
	}
	
	#logoCont{
		position: relative;
		top: 10px;
		margin:auto;
		
	}

}
