* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.product-section{
	overflow-x: scroll;
	white-space: nowrap;
	padding: 35px 35px;
	
}

.product{
	
	box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.35);
	display: inline-block;
	width: 28%;
	height: 541px;
	transition: transform 1s ease;
	border-radius: 10px;
    
    margin-right: 35px;
    z-index: 2
}

.product .imgProd{
	height:60%;
	width: 60%;
	margin: 1% 21%
	
}

.addToCart:link, .addToCart:hover, .addToCart:active, .addToCart:visited{
	color: white;
	position: relative;
	top: 28px;
	left: 36%;
	padding: 7px;
	text-align: center;
	background-color: #20A15C;
	border-radius: 10px;
	
} 

.nameProd{
	text-align: center;
	
	color: #272D28;

	font-size: 20px;
	font-style: italic;
	font-weight: 800;
	line-height: normal;
}

.descrProd{
	position:relative;
	color: #272D28;
	top: 54px;
	left: 5%;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.priceProd{
	position: relative;
	top: 10px;
	left: 63%;
	color: #20A15C;

font-size: 40px;
font-style: italic;
font-weight: 800;
line-height: normal;
}

.titleCat{
	margin-top: 15px;
	width: 15%;
	color: #FFF;
	margin-left: -30px;
	padding-left: 5%;
	font-size: 36px;
	font-style: italic;
	font-weight: 800;
	line-height: normal;
	border-radius: 16px;
	background: #20A15C;
}

.sliderCont{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 100%;
    height: 300px;
    
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 300px;
    display: flex;
  }

  .slide img{
    width: 98%;
    height: 420px;
    
  }

  .slide{
    height: 300px;
  }
}
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 420px;
  }
  
  .navigation-mannual{
    position: absolute;
    width: 100%;
    /*margin-left: 29%;*/
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mannual-btn{
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .mannual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .mannual-btn:hover{
    background-color: #ccc;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /* Automatic Navigation */
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    /*margin-left: 29%;*/
    margin-top: 380px;
  }