* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    font-family: 'Roboto', sans-serif;
}



.titleCat{
	margin-top: 1%;
	width: 22%;
	color: #FFF;
	margin-left: -2%;
	padding-left: 5%;
	font-size: 320%;
	font-style: italic;
	font-weight: 800;
	line-height: normal;
	border-radius: 16px;
	background: #20A15C;
}



table{
	border-spacing:0;
	text-align: center;
	height: 100px;
	width: 90%;
	margin: auto;
	border: 3px solid green;
	
	margin-top: 50px;
	margin-bottom: 50px;
	
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}



th{
	background-color: #20A15C;
	height: 127px;
	border: none;
	color: #272D28;
	text-align: center;

	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}



td img{
	
	width: 100%;
	
}

td{
	color: #1E1E1E;
	height: 220px;
	font-size: 20px;
	font-style: italic;
	font-weight: 600;
	line-height: normal;
	
	padding: 0;
	width: 11%;
}



form{
	display: flex;
	justify-content: center;
	vertical-align: middle;
	
}

form button[type="submit"]{
	margin: 0px 7px;
	width: 30px;
	height: 30px;
	border-radius: 40px;
	border: none;
background: #A0FFC1;
}

form p{
	padding: 5px;
}

.adminFunc:link, .adminFunc:active, .adminFunc:visited{
	float: right;
	
	padding: 12px;
	color: #272D28;
	
	
	font-style: italic;
	font-weight: 800;
	background-color: #A0FFC1;
	border-radius: 25px;
	border: 1px solid #272D28;
}

.logout:link, .logout:active, .logout:visited{
	float: right;
	margin-left:15px;
	margin-right:30px;
	padding: 12px;
	color: white;
	
	
	font-style: italic;
	font-weight: 800;
	background-color: black;
	border-radius: 25px;
	border: 1px solid #272D28;
}

.dashboard{
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}

.dashboard p{
	
    
    
    border: none;
    color: #272D28;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (max-width: 1000px){
	td{
		font-size: 12px;
		padding: 2px;
	}
	
	table{
		font-size: 12px;
	}
	
	th{
		font-size: 15px;
	}
	
    .titleCat{
    	width: 30%;
    	font-size: 20px;
    }
	.adminFunc:link, .adminFunc:active, .adminFunc:visited{
	
	
	
	color: #272D28;
	
	
	font-style: italic;
	
	background-color: #A0FFC1;
	border-radius: 25px;
	border: 1px solid #272D28;
}
	
}

