@CHARSET "UTF-8";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    
}



.product-section {
    display: flex;
    overflow-x: auto; /* Aggiunge uno scroll orizzontale se i prodotti superano la larghezza dello schermo */
    white-space: nowrap; /* Impedisce il wrapping dei prodotti su più righe */
}

.product {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}


h2 {
	
	text-align: center;
}




table {
	width: 500px;
	margin: auto;
}

table, th, td {
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

label {
	font-weight: bold;
}

form input[type=text], form input[type=number], form input[type=password],
	form input[type=date], form input[type=range], form input[type=email],
	form input[type=url], form input[type=time], form input[list] {
	width: 500px;
	font-size: 1em;
	margin: auto;
}

textarea {
	width: 500px;
	height: 60px;
	font-size: 1em;
}

td img{
	width: 200px;
	height: 200px;
}